body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > i {
  font-size: 1.6rem; }

body.vertical-layout.vertical-menu-modern .toggle-icon {
  margin-right: 1.5rem; }

@media (min-width: 576px) {
  body.vertical-layout.vertical-menu-modern.menu-flipped .main-menu {
    right: 0; } }

body.vertical-layout.vertical-menu-modern .navbar .navbar-brand {
  white-space: nowrap; }

body.vertical-layout.vertical-menu-modern .navbar .navbar-header .nav-toggle {
  position: absolute;
  right: 0; }

body.vertical-layout.vertical-menu-modern .main-menu {
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-header {
  float: left;
  width: 260px; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container {
  margin-left: 260px; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  width: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation .navigation-header .la-ellipsis-h,
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation .navigation-header .nav-menu-icon {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i {
    margin-right: 12px;
    float: left; }
    body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i:before {
      font-size: 1.6rem; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > span.badge {
    position: absolute;
    right: 20px; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\f112";
    font-family: "LineAwesome";
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 13px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
    top: 11px; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.open > a:not(.mm-next):after {
    transform: rotate(90deg); }

body.vertical-layout.vertical-menu-modern.menu-expanded .content,
body.vertical-layout.vertical-menu-modern.menu-expanded .footer {
  margin-left: 260px; }

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar-brand-center .content,
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar-brand-center .footer {
  margin-left: 0; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header {
  float: left;
  width: 60px; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header .modern-nav-toggle {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded {
    width: 260px;
    z-index: 1000; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded .modern-nav-toggle {
      display: block; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded .navbar-brand .brand-text {
      animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header .navbar-brand .brand-text {
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar.navbar-brand-center .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-brand {
  padding: 18px 0px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-container {
  margin-left: 60px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
  width: 82px;
  transition: 300ms ease all;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-right {
    display: none; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body {
    opacity: 0; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .user-content {
    padding: 20px 10px; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation {
    overflow: visible; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header .ft-minus {
      display: block;
      font-size: 1.2rem; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header .la-ellipsis-h {
      margin-left: 5px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header span {
      display: none; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a {
      text-overflow: inherit;
      padding: 20px 0px 20px 28px; }
      body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a > span {
        animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout; }
        body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a > span.badge {
          float: none !important; }
      body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a i {
        margin-right: 12px;
        float: left; }
        body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a i:before {
          font-size: 1.6rem; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .mTSWrapper {
    overflow: visible; }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded {
    width: 260px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header .la-ellipsis-h {
      display: none; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header span {
      display: block; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li > a > span {
      animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein; }
      body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li > a > span.badge {
        position: absolute;
        right: 20px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub > a:not(.mm-next):after {
      content: "\f112";
      font-family: "LineAwesome";
      font-size: 1rem;
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 13px;
      transform: rotate(0deg);
      transition: -webkit-transform 0.2s ease-in-out; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub .has-sub > a:not(.mm-next):after {
      top: 11px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.open > a:not(.mm-next):after {
      transform: rotate(90deg); }
  body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation > li.active > a {
    margin: 0; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .content,
body.vertical-layout.vertical-menu-modern.menu-collapsed .footer {
  margin-left: 60px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar-brand-center .content,
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar-brand-center .footer {
  margin-left: 0; }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .content {
  margin: 0;
  margin-right: 60px; }

@media (min-width: 576px) {
  body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu {
    right: 0; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu span.menu-title {
      right: 60px; }
    body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu ul.menu-content {
      right: 60px;
      left: inherit; } }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .navbar .navbar-header {
  float: right; }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 60px; }

body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .footer {
  margin: 0;
  margin-right: 60px; }

[data-textdirection="rtl"] body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a {
  padding: 14px 16px !important; }

[data-textdirection="rtl"] body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header .la-ellipsis-h {
  padding: 12px 0px; }

@media (min-width: 992px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 260px; }
    body.vertical-layout.vertical-menu-modern .main-menu .navigation li.navigation-header .ft-minus {
      display: none; }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 260px; }
  body.vertical-layout.vertical-menu-modern .content,
  body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .content {
    margin: 0;
    margin-right: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .navbar .navbar-header {
    float: right; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-right: 260px; }
  body.vertical-layout.vertical-menu-modern.menu-flipped .footer {
    margin: 0;
    margin-right: 260px; } }

@media (max-width: 991.98px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 0; }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 0; }
  body.vertical-layout.vertical-menu-modern .content,
  body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 0; } }

@media (max-width: 767.98px) {
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .main-menu {
    width: 0; }
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .navbar .navbar-header {
    width: 0; }
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .content,
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .footer {
    margin-left: 0; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container {
    margin-left: 0px !important; }
  body.vertical-layout.vertical-menu-modern.menu-expanded .content,
  body.vertical-layout.vertical-menu-modern.menu-expanded .footer {
    margin-left: 0px !important; }
  html.loading .main-menu, html.loading .vertical-overlay-menu.menu-hide .main-menu, .vertical-overlay-menu.menu-hide html.loading .main-menu {
    opacity: 0;
    transform: translate3d(0px, 0, 0); } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.vertical-collapsed-menu .collapsed-active::before {
  content: "";
  position: absolute;
  border-right: 4px solid #1e9ff2;
  right: 0px;
  top: 0px;
  height: 43px; }

/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-left: 0; }

.vertical-overlay-menu .navbar .navbar-header {
  float: left;
  width: 280px; }

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-left: auto; }

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto; }

.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: width .25s, opacity .25s, transform .25s;
  width: 280px;
  left: -280px; }
  .vertical-overlay-menu .main-menu .navigation .navigation-header {
    padding-left: 34px; }
    .vertical-overlay-menu .main-menu .navigation .navigation-header .la-ellipsis-h,
    .vertical-overlay-menu .main-menu .navigation .navigation-header .nav-menu-icon {
      display: none; }
  .vertical-overlay-menu .main-menu .navigation > li > a {
    padding-left: 32px; }
    .vertical-overlay-menu .main-menu .navigation > li > a > i {
      font-size: 1.6rem;
      margin-right: 12px;
      float: left; }
      .vertical-overlay-menu .main-menu .navigation > li > a > i:before {
        transition: 200ms ease all; }
  .vertical-overlay-menu .main-menu .navigation > li.hover > a {
    padding-left: 36px; }
  .vertical-overlay-menu .main-menu .navigation > li ul li > a {
    padding-left: 68px; }
  .vertical-overlay-menu .main-menu .navigation > li .active > a {
    padding-left: 54px; }
  .vertical-overlay-menu .main-menu .navigation > li ul .open > ul li > a {
    padding-left: 74px; }
  .vertical-overlay-menu .main-menu .navigation > li ul .open > ul li:not(.active):hover > a {
    padding-left: 78px; }
  .vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover > a {
    padding-left: 72px; }
  .vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover.active > a {
    padding-left: 54px; }
  .vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\f112";
    font-family: "LineAwesome";
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 13px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out; }
  .vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
    top: 11px; }
  .vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
    transform: rotate(90deg); }
  .vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    right: 34px; }

.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  transform: translate3d(280px, 0, 0);
  transition: width .25s, opacity .25s, transform .25s; }

.vertical-overlay-menu.menu-flipped .main-menu {
  right: -280px;
  left: inherit; }

.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 280px; }

.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: right; }

.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  transform: translate3d(-280px, 0, 0); }

.vertical-overlay-menu footer.footer.fixed-bottom {
  z-index: 999; }

.vertical-overlay-menu.boxed-layout {
  position: relative; }
  .vertical-overlay-menu.boxed-layout .main-menu.menu-fixed {
    position: absolute; }

@media (max-width: 768px) {
	.navbar-container.content:after {
    background-color: transparent !important;
}
.col-md-3.col-12.firstTopMain {
    border-right: none !important;
}
.col-md-3.col-12.responseByRegion {
    border-right: none !important;
    /* border-left: 2px solid #e4e8f1; */
}
.col-12.col-md-3.storeComBoxMain {
    border-right: none !important;
}
.col-md-6.netProFooterBox {
    border-bottom: 2px solid #e4e8f1;
	border-right:none !important;
}
.chart-stats.position-absolute.position-bottom-0.position-right-0.mb-2.mr-3 span {
    position: relative;
    top: 45px !important;
}
  .vertical-overlay-menu .header-navbar .navbar-header .mobile-menu a.menu-toggle {
    padding-top: 1rem; }
  .vertical-overlay-menu .header-navbar .navbar-header li.nav-item.d-md-none a.open-navbar-container {
    padding-top: 1rem; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
	
	li.headig-top h3 {
    font-size: 20px;
    margin: 0 0 0 20px;
    font-weight: 600;
}
li.headig-top {
  position: relative;
}

li.headig-top:after {
  content: '';
    height: 74px;
    width: 2px;
    position: absolute;
    left: 8px;
    top: -24px;
    background-color: #e4e8f1;
}
.navbar-container.content:after {
    content: '';
    height: 97px;
    width: 2px;
    position: absolute;
    left: 20px;
    top: -24px;
    background-color: #e4e8f1;
}
.navbar-container.content {
    background: #ffffff;
}
li.nav-item.d-none.d-lg-block.nav-toggle {
   position: relative;
    right: -2px;
    padding: 0 20px 0 0;
}
li.dropdown.dropdown-user.nav-item.last-plus-box {
    background: #fbfbfb;
    position: relative;
    right: -20px;
    padding: 0 20px 0 0;
}
a.dropdown-toggle.nav-link.dropdown-user-link.user-link-plus-box {
    position: relative;
    right: -12px;
}
li.dropdown.dropdown-user.nav-item.last-plus-box:after {
    content: '';
    height: 97px;
    width: 1px;
    position: absolute;
    left: 0px;
    top: -24px;
    background-color: #e4e8f1;
}
li.dropdown.dropdown-user.nav-item.last-plus-box i {
    color: #b3b2cd;
    position: relative;
    top: 5px;
}
li.nav-item.top-left-menu-last {
    vertical-align: bottom;
    margin: 70px 0 0 0;
    border-top: 2px solid #e4e8f1;
}
li.nav-item img {
    width: 22px;
    position: relative;
    display: block;
    float: left;
	margin-right: 12px;
	top: 3px;
}
li.nav-item img:hover {
    width: 22px;
}
a.canvasjs-chart-credit {
    display: none;
}
.danger span{
        color: #ff4961!important;
    background: #ff4961!important;
    width: 13%;
    height: 7px;
    display: block;
}
h2.text-muted span {
    color: #20a576!important;
    background: #20a576!important;
    width: 13%;
    height: 7px;
    display: block;
}
.bg-gradient-x-success-blue {
    background-image: linear-gradient(to right,#0598ed 0,#109cee 100%);
    background-repeat: repeat-x;
}
.bg-gradient-x-success-green {
    background-image: linear-gradient(to right,#3dc34b 0,#3bc34a 100%);
    background-repeat: repeat-x;
}
.bg-gradient-x-success-pink {
    background-image: linear-gradient(to right,#ed68bc 0,#ec62b9 100%);
    background-repeat: repeat-x;
}
.card-header span {
    font-size: 12px;
    color: #9c9c9c;
}
i.la.la-home {
    color: #168e9c;
}
i.las.la-bell {
    color: #168e9c;
}
i.la.la-text-height {
    color: #168e9c;
}
ul.commentUL {
    margin: 0;
    padding: 0;
}
ul.commentUL li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 0;
	font-size:16px;
	color: #9c9c9c;
}
li.commentGreenLi {
    color: #189525 !important;
    font-size: 22px !important;
    font-weight: 700;
}
li.commentNPSSur {
    border-left: 1px solid #cacaca;
    padding: 0 0 0 10px;
}
.card-body.storeComment {
    padding-top: 0;
}
.card-body.storeComment p {
    font-size: 15px;
    color: #000000;
}
.card-body.storeComment ul {
    margin: 0;
    padding: 0;
}
.card-body.storeComment ul li {
    list-style: none;
    display: block;
    background: #eaf5eb;
    border-radius: 7px;
    padding: 5px 0 5px 10px;
	margin: 0 0px 10px 0;
}
.card-body.storeComment ul li img {
    width: 10%;
    margin: 0 5px 0 0;
}
.card-body.storeComment ul li span {
    color: #147482;
    font-weight: 600;
    font-size: 15px;
}
.cardFooter p {
    color: #9c9c9c;
}
p.commentCount span {
    font-weight: 700;
    color: #6d6c6c;
    text-shadow: none;
    outline: none;
}
.cardFooter ul {
    margin: 0;
    padding: 0;
}
.cardFooter ul li {
    list-style: none;
    display: inline;
    float: left;
    margin: 0 0px 0 0;
}
.cardFooter ul li img {
    width: 60%;
}
.col-md-3.col-12.responseByRegion {
    border-right: 2px solid #e4e8f1;
    /* border-left: 2px solid #e4e8f1; */
}
.content-wrapper.contentWrapperTopPad {
    padding-top: 0 !important;
}
.row.topBoxRow {
    border-bottom: 2px solid #e4e8f1;
}
.col-md-3.col-12.firstTopMain {
    border-right: 2px solid #e4e8f1;
}
.col-12.col-md-3.storeComBoxMain {
    border-right: 2px solid #e4e8f1;
}
h3.brand-text {
    position: relative;
    top: 4px;
}
a.nav-link.nav-menu-main.menu-toggle.hidden-xs i {
    font-size: 30px !important;
    color: #168e9c;
}
.chart-stats.position-absolute.position-bottom-0.position-right-0.mb-2.mr-3 span {
    position: relative;
    top: 60px;
}
.col-md-6.netProFooterBox {
    border-right: 2px solid #e4e8f1;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1c0a36 !important;
}
ul.bottomCategory {
    margin: 0;
    padding: 0;
}
ul.bottomCategory li {
    list-style: none;
    display: inline;
}
ul.bottomCategory li img {
    width: 5%;
}
ul.allProBottomBoxCategory {
    margin: 0;
    padding: 0;
}
ul.allProBottomBoxCategory {
    margin: 0;
    padding: 0;
    float: right;
}
ul.allProBottomBoxCategory li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}
ul.allProBottomBoxCategory li:last-child {
    margin-right: 0px;
}
div#chartContainerResponse {
    margin-top: 15%;
}
.display-4 {
    font-size: 3.5rem;
    z-index: 999;
    position: absolute;
    top: -83px;
}